@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --carbon-darkest: rgba(36, 38, 43, 1);
  --carbon-neutral300: rgba(214, 217, 221, 1);
  --darkcontentcontentoninverse: rgba(255, 255, 255, 1);
  --darkcontentcontentprimary: rgba(247, 247, 247, 1);
  --headline-sm-h-sm-medium-font-family: "Poppins", Helvetica;
  --headline-sm-h-sm-medium-font-size: 18px;
  --headline-sm-h-sm-medium-font-style: normal;
  --headline-sm-h-sm-medium-font-weight: 500;
  --headline-sm-h-sm-medium-letter-spacing: 0px;
  --headline-sm-h-sm-medium-line-height: 25px;
  --label-lg-label-lg-medium-font-family: "Poppins", Helvetica;
  --label-lg-label-lg-medium-font-size: 16px;
  --label-lg-label-lg-medium-font-style: normal;
  --label-lg-label-lg-medium-font-weight: 500;
  --label-lg-label-lg-medium-letter-spacing: 0px;
  --label-lg-label-lg-medium-line-height: 24px;
  --label-lg-label-lg-regular-font-family: "Poppins", Helvetica;
  --label-lg-label-lg-regular-font-size: 16px;
  --label-lg-label-lg-regular-font-style: normal;
  --label-lg-label-lg-regular-font-weight: 400;
  --label-lg-label-lg-regular-letter-spacing: 0px;
  --label-lg-label-lg-regular-line-height: 20px;
  --lightbackgroundbgaccent: rgba(48, 79, 254, 1);
  --lightbase-colorprimary-color: rgba(48, 79, 254, 1);
  --lightcontentcontentoncolor: rgba(255, 255, 255, 1);
  --neutralgray-900: rgba(42, 42, 42, 1);
  --primaryblue-50: rgba(234, 235, 255, 1);
  --systemorange-light: rgba(255, 149, 0, 1);
  --title-xl-t-xl-semibold-font-family: "Poppins", Helvetica;
  --title-xl-t-xl-semibold-font-size: 34px;
  --title-xl-t-xl-semibold-font-style: normal;
  --title-xl-t-xl-semibold-font-weight: 600;
  --title-xl-t-xl-semibold-letter-spacing: 0px;
  --title-xl-t-xl-semibold-line-height: 41px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
